<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <div class="smalllogo"></div><div class="smalllogo2"><span class="light">The</span> DANA <span class="light">Network</span></div>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact us</a>
        </li>
        <li>
        <% if logged_in? %>
              <%= link_to "Profile", show_path, method: :get %>
              </li> <li>
            <%= link_to "Log out", logout_path, method: :delete %>
        <% else %>
            <%= link_to "Sign Up", signup_path, method: :get %>
            </li><li>
            <%= link_to "Log In", login_path, method: :get %>
        <% end %>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Dana</h1>
          <p class="intro-text">Connecting communities through the practise of giving.</p> <!-- <br>Created originally by Start Bootstrap. -->
          <a href="#about" class="btn btn-circle page-scroll pulse">

          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Local Charities</h2>
      <p>We help local charities thrive by matching them with businesses to regularly provide high-quality food absolutely free. This keeps unsold food out of our landfills, while filling the hearts and stomachs of those less fortunate. <p>    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Local Businesses</h2>
      <p>Dana helps businesses to prevent food waste and give back to their local community, while giving them the recognition they deserve. Dana offers full turnkey marketing solutions, allowing you to reach out to socially conscious consumers with exclusive offers. We also have partnerships with local organizations (the rotary club, local sports teams, and many other groups), allowing them to book events on slow business days and support charities at the same time. The best part is that it's completely free. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Conscious Consumers</h2>
      <p>At Dana, we believe that the biggest impact you can make is with your wallet. Dana businesses are socially sustainable, giving back to the community and providing you with great deals in the process. Join the smart consumer movement today!</p>
          </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center cupcakesbg">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Join Us</h2>
      <p>Whether you're a business owner, a charity ambassador, or the leader of a local club looking to give back to your community, join the Dana Network and help us make our community a better place.      </p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Register</span></a>
        </li>
        <li>
          <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Login</span></a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Download SASS Section
<section id="download2" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Download Grayscale</h2>
        <p>You can download the SASS version of Grayscale for free on the GITHUB page.</p>
        <a href="https://github.com/blackfyre/grayscale-sass/" class="btn btn-default btn-lg">Visit the Download Page</a>
      </div>
    </div>
  </div>
</section> -->

<!-- Contact Section -->
<section id="contact2" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Dana Network Members</h2>
      <p>Many amazing local organizations are already Dana members. (*Almost!)</p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <img src="images/logo_second-cup.png" width="250px">
          <img src="images/Subway-logo.png"  width="250px">
          <img src="images/rawlicious-logo.jpg"  width="250px">
          <img src="images/basilique-logo-alternative.jpg"  width="250px">
          <img src="images/snootyfoxlogo.png"  width="200px">
      </ul>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center restaurantbg">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Follow Us</h2>
      <p>Learn about new offers from Dana businesses by following us on your favourite social media platform.
      </p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
          <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
        </li>
        <li>
          <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Instagram</span></a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Footer -->
  <footer>
    <div class="container text-center">
      <p>Copyright &copy; 2015 The Dana Network</p>
    </div>
  </footer>

  <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>



</section>

