<img src="../images/toolbar.png" >
<div id="wrap" style="margin: 2em auto; max-width: 40em;">
  <h1>Welcome, Basilique</h1>
  <%= month_calendar attribute: :available, events: @offerings do |date,offerings| %>
      <%= date.day %>

      <% offerings.each do |offering| %>
          <div>
            <%= offering.name %>
          </div>
      <% end %>
  <% end %>
</div>